<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @luxire_style_master.name %>
</p>

<p>
  <strong>Default values:</strong>
  <%= @luxire_style_master.default_values %>
</p>

<%= link_to 'Edit', edit_luxire_style_master_path(@luxire_style_master) %> |
<%= link_to 'Back', luxire_style_masters_path %>
