<%= form_for(@measurement_type_prototype) do |f| %>
  <% if @measurement_type_prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement_type_prototype.errors.count, "error") %> prohibited this measurement_type_prototype from being saved:</h2>

      <ul>
      <% @measurement_type_prototype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
