<p id="notice"><%= notice %></p>

<h1>Listing Measurement Type Prototypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurement_type_prototypes.each do |measurement_type_prototype| %>
      <tr>
        <td><%= measurement_type_prototype.name %></td>
        <td><%= measurement_type_prototype.value %></td>
        <td><%= link_to 'Show', measurement_type_prototype %></td>
        <td><%= link_to 'Edit', edit_measurement_type_prototype_path(measurement_type_prototype) %></td>
        <td><%= link_to 'Destroy', measurement_type_prototype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement type prototype', new_measurement_type_prototype_path %>
