<p id="notice"><%= notice %></p>

<p>
  <strong>Product type:</strong>
  <%= @luxire_product_type.product_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @luxire_product_type.description %>
</p>

<%= link_to 'Edit', edit_luxire_product_type_path(@luxire_product_type) %> |
<%= link_to 'Back', luxire_product_types_path %>
