<style>
  table#inner td {
	border: 1px solid black;
	padding: 5px;
     }
</style>
<table>
  <tr>
    <td>
      <p class="lede">
        <%= if @order.user && @order.user.luxire_customer && @order.user.luxire_customer.first_name
               "Dear " + @order.user.luxire_customer.first_name + " " + @order.user.luxire_customer.last_name + ","
            else
               "Dear " + @order.billing_address.firstname + " " +   @order.billing_address.lastname + ","
            end
          %>
      </p>
      <p>
        <%= Spree.t('order_mailer.confirm_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.confirm_email.order_summary') %>
      </p>
      <table id="inner" style="width: 100%; border: 1px solid black; border-collapse: collapse;">
        <% count = 0 %>
        <% @order.line_items.each do |item| %>
        <% count += 1 %>
        <tr>
            <td style="width:20%;font-weight: bold;"><%= "#{count}" %></td>
            <td style="width:40%;font-weight: bold;" >
              <%= raw(item.variant.product.name) %>
              <%= raw(item.variant.options_text) -%>
            </td>
            <td style="width:40%;font-weight: bold;">(<%=item.quantity%>) <%= Spree.t('at_symbol') %> <%= item.single_money %> = <%= item.display_amount %></td>
          </tr>
            <%  luxire_line_item = item.luxire_line_item %>
            <%  unless luxire_line_item.nil? %>
              <%= render 'customized_data', luxire_line_item: luxire_line_item  unless luxire_line_item.customized_data.blank? %>
              <%= render 'personalize_data', luxire_line_item: luxire_line_item unless luxire_line_item.personalize_data.blank? %>
              <%= render 'std_measurements', luxire_line_item: luxire_line_item unless luxire_line_item.measurement_data["standard_measurement_attributes"].blank? %>
              <%= render 'body_measurements', luxire_line_item: luxire_line_item unless luxire_line_item.measurement_data["body_measurement_attributes"].blank? %>
            <% end %>
        <% end %>
        <tr>
          <td></td>
          <td>
            <%= Spree.t('order_mailer.confirm_email.subtotal') %>
          </td>
          <td>
            <%= @order.display_item_total %>
          </td>
        </tr>
        <% if @order.line_item_adjustments.exists? %>
          <% if @order.all_adjustments.promotion.eligible.exists? %>
            <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <tr>
                <td></td>
                <td><%= Spree.t(:promotion) %> <%= label %>:</td>
                <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td></td>
            <td><%= Spree.t(:shipping) %> <%= name %>:</td>
            <td><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></td>
          </tr>
        <% end %>
        <% if @order.all_adjustments.eligible.tax.exists? %>
          <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <td></td>
              <td><%= Spree.t(:tax) %> <%= label %>:</td>
              <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
            </tr>
          <% end %>
        <% end %>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr>
            <td></td>
            <td><%= adjustment.label %>:</td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td>
            <%= Spree.t('order_mailer.confirm_email.total') %>
          </td>
          <td>
            <%= @order.display_total %>
          </td>
        </tr>
      </table>
      <p>
        <%= Spree.t('order_mailer.confirm_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
