<p id="notice"><%= notice %></p>

<h1>Listing Luxire Product Type Style Masters</h1>

<table>
  <thead>
    <tr>
      <th>Luxire product type</th>
      <th>Luxire style master</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @luxire_product_type_style_masters.each do |luxire_product_type_style_master| %>
      <tr>
        <td><%= luxire_product_type_style_master.luxire_product_type_id %></td>
        <td><%= luxire_product_type_style_master.luxire_style_master_id %></td>
        <td><%= link_to 'Show', luxire_product_type_style_master %></td>
        <td><%= link_to 'Edit', edit_luxire_product_type_style_master_path(luxire_product_type_style_master) %></td>
        <td><%= link_to 'Destroy', luxire_product_type_style_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Luxire product type style master', new_luxire_product_type_style_master_path %>
