<p id="notice"><%= notice %></p>

<p>
  <strong>Luxire product type:</strong>
  <%= @luxire_product_type_style_master.luxire_product_type_id %>
</p>

<p>
  <strong>Luxire style master:</strong>
  <%= @luxire_product_type_style_master.luxire_style_master_id %>
</p>

<%= link_to 'Edit', edit_luxire_product_type_style_master_path(@luxire_product_type_style_master) %> |
<%= link_to 'Back', luxire_product_type_style_masters_path %>
