<p id="notice"><%= notice %></p>

<p>
  <strong>Mega menu template:</strong>
  <%= @luxire_taxonomy.mega_menu_template %>
</p>

<p>
  <strong>Spree taxonomy:</strong>
  <%= @luxire_taxonomy.spree_taxonomy_id %>
</p>

<%= link_to 'Edit', edit_luxire_taxonomy_path(@luxire_taxonomy) %> |
<%= link_to 'Back', luxire_taxonomies_path %>
