<p id="notice"><%= notice %></p>

<p>
  <strong>Fit type:</strong>
  <%= @standard_size.fit_type %>
</p>

<p>
  <strong>Neck:</strong>
  <%= @standard_size.neck %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @standard_size.chest %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @standard_size.waist %>
</p>

<p>
  <strong>Bottom:</strong>
  <%= @standard_size.bottom %>
</p>

<p>
  <strong>Yoke:</strong>
  <%= @standard_size.yoke %>
</p>

<p>
  <strong>Biceps:</strong>
  <%= @standard_size.biceps %>
</p>

<p>
  <strong>Wrist:</strong>
  <%= @standard_size.wrist %>
</p>

<p>
  <strong>Shirt length:</strong>
  <%= @standard_size.shirt_length %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @standard_size.luxire_product_type_id %>
</p>

<%= link_to 'Edit', edit_standard_size_path(@standard_size) %> |
<%= link_to 'Back', standard_sizes_path %>
